@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 250 99.35% 98.3%;
    --foreground: 250 8.7% 0.6%;

    --muted: 250 8.7% 91.5%;
    --muted-foreground: 250 4.35% 41.5%;

    --popover: 250 20.400000000000006% 91.5%;
    --popover-foreground: 250 8.7% 0.75%;

    --card: 250 20.400000000000006% 91.5%;
    --card-foreground: 250 8.7% 0.75%;

    --border: 250 13.7% 89.6%;
    --input: 250 13.7% 89.6%;

    --primary: 250 87% 15%;
    --primary-foreground: 250 1.74% 91.5%;

    --secondary: 250 4.35% 95.75%;
    --secondary-foreground: 250 6.22% 11.5%;

    --accent: 250 4.35% 95.75%;
    --accent-foreground: 250 6.22% 11.5%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 250 87% 15%;

    --danger: 0 100% 50%;
    --warning: 60 100% 50%;
    --success: 120 100% 50%;
    --info: 210 100% 50%;
    --royal: 45 100% 50%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 209 65% 3.76%;
    --foreground: 209 10% 97.35%;

    --muted: 209 50% 14.1%;
    --muted-foreground: 209 10% 54.7%;

    --popover: 209 45% 6.109999999999999%;
    --popover-foreground: 209 10% 97.35%;

    --card: 209 45% 6.109999999999999%;
    --card-foreground: 209 10% 97.35%;

    --border: 209 50% 14.1%;
    --input: 209 50% 14.1%;

    --primary: 209 100% 47%;
    --primary-foreground: 209 10% 4.699999999999999%;

    --secondary: 209 50% 14.1%;
    --secondary-foreground: 209 10% 97.35%;

    --accent: 209 50% 14.1%;
    --accent-foreground: 209 10% 97.35%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 209 10% 97.35%;

    --ring: 209 100% 47%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .my-container {
    @apply py-2 px-4 md:px-12 2xl:px-16;
  }
}

/* ribbon of sale on card */

.card {
  position: relative;
}
.ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: hsl(var(--foreground));
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: hsl(var(--success));
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid hsl(var(--success));
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid hsl(var(--success));
}
.ribbon span::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid hsl(var(--success));
  border-bottom: 3px solid transparent;
  border-top: 3px solid hsl(var(--success));
}

/* Glitch effect */

.glitch-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #000000;
}

.glitch {
  position: relative;
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 3px;
  z-index: 1;
}

.glitch:before,
.glitch:after {
  display: block;
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.glitch:before {
  animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: #00ffff;
  z-index: -1;
}

.glitch:after {
  animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both
    infinite;
  color: #ff00ff;
  z-index: -2;
}

@keyframes glitch-it {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  to {
    transform: translate(0);
  }
}

/* Loader */

.custom-loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #766df4 95%, #0000) 50% 1px/12px
      12px no-repeat,
    radial-gradient(farthest-side, #0000 calc(100% - 14px), #e4e4ed 0);
  animation: s9 2s infinite linear;
}
@keyframes s9 {
  to {
    transform: rotate(1turn);
  }
}

/* cut line on actual price of product */
.strikethrough {
  position: relative;
}
.strikethrough:before {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  top: 50%;
  right: 0;
  border-top: 3px solid;
  border-color: hsl(var(--success));
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

/* Scrollbar design */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--accent)) transparent;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: transparent;
}

*::-webkit-scrollbar-track:hover {
  background-color: transparent;
}

*::-webkit-scrollbar-track:active {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: hsl(var(--accent));
}

*::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--accent));
}

*::-webkit-scrollbar-thumb:active {
  background-color: hsl(var(--accent));
}
